<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;1,300&display=swap" rel="stylesheet">

    <title>Terminos|Condiciones</title>
</head>

<style>
    body{
        background-color: #EBEFF2;
        font-family: 'Roboto', sans-serif;
    }
</style>
<body>
    <div class="row mx-auto ">
        <div class="col-10 mx-auto pt-3">
            

            <h2 class="pt-4">
                Términos de uso
            </h2>

            <h5>
                El acceso y el uso de este sitio Web están sujetos a los siguientes términos de uso:
            </h5>
            <br>
            <h5 class="">
                Su acceso a, y el uso de este sitio Web constituye su aceptación de estos términos de uso que entran en vigor a partir de la fecha en la cual utilice por primera vez este sitio Web.

                Todos los derechos, incluyendo derechos de autor, en el contenido de estas páginas Web pertenecen o son controladas para estos propósitos por Yaab Inversiones y Servicios Financieros, S.A. de C.V. Usted puede descargar una copia de cualquier material exhibido en este sitio Web solamente para uso personal o interno, no comercial; pero usted debe conservar todo el derecho de autor y otros avisos de propiedad contenidos con relación a dicho material. Usted no puede copiar, reproducir, descargar, volver a publicar, difundir, transmitir, exhibir, modificar o reutilizar los materiales en este sitio Web para ningún otro propósito.


               
            </h5>
            <br>

            
            <br>
            <h5>
               Los vínculos contenidos en este sitio Web conducen a sitios Web que no se encuentran bajo control Yaab Inversiones y Servicios Financieros, S.A. de C.V., Yaab Inversiones y Servicios Financieros, S.A. de C.V no se hace responsable por los contenidos de cualquier sitio vinculado ni por cualquier vínculo contenido en un sitio relacionado. Los enlaces proporcionados en este sitio Web son proporcionados a usted solamente como conveniencia y la inclusión de enlaces no implican la aprobación de Yaab Inversiones y Servicios Financieros, S.A. de C.V., y Yaab Inversiones y Servicios Financieros, S.A. de C.V., no acepta ninguna responsabilidad referente al contenido de cualquier sitio ligado. El enlazarse a cualquier sitio vinculado es bajo su propio riesgo.
            </h5>
            <br>

            <p class="">
                Las marcas logotipos, nombres comerciales e imágenes exhibidos en este sitio Web son marcas comerciales registradas o en proceso de registro propiedad de Yaab Inversiones y Servicios Financieros, S.A. de C.V., Nada en este sitio Web se debe tomar como conferido implícitamente, impedimento legal o de otra manera cualquier licencia o derecho de utilizar cualquier marca comercial exhibida en este sitio Web sin la previa aprobación por escrito de Yaab Inversiones y Servicios Financieros, S.A. de C.V., o de dichos terceros que pueden poseer los derechos sobre la marca comercial pertinente.
            </p>

            <p class="">
                Aunque se han tomado precauciones en la preparación de este sitio Web para asegurar que la información contenida en ella es exacta, no se da ninguna garantía o representación de calidad satisfactoria o garantía para un propósito particular, no-incumplimiento de título, sea expreso o implícito; ni existe garantía alguna o representación de que la información y los materiales contenidos en este sitio Web están libres de errores o inexactitud.
            </p>

             <p class="">
                Nada en este sitio Web constituye consejos de inversión y no se debe tomar como una recomendación para comprar, vender o conservar valores en Yaab Inversiones y Servicios Financieros, S.A. de C.V., o de comprar alguno de sus productos financieros, y no constituye una oferta para vender o solicitar una oferta para comprar tales valores.
            </p>

             <p class="">
                Usted no tiene derecho (ni ayudará a otros) a instalar ningún otro enlace a este sitio Web (ya sea vía de enlace hipertexto, enlace profundo, encuadre, codificado, u otra) sin el previo consentimiento por escrito de Yaab Inversiones y Servicios Financieros, S.A. de C.V., Todas las solicitudes de consentimiento serán tratados con prontitud.
            </p>

            <p class="">
                En el presente sitio, Yaab Inversiones y Servicios Financieros, S.A. de C.V., ha habilitado una aplicación para que sus clientes, de México únicamente, puedan acceder a su estado de cuenta en términos de las Disposiciones de PROFECO, para lo cual deberán seguir las instrucciones correspondientes para su registro e ingreso, el acceso al estado de cuenta implicará la aceptación de los presentes términos de uso.
            </p>

            <p class="">
                Su autorización para utilizar este sitio Web termina automáticamente sin aviso si a criterio de Yaab Inversiones y Servicios Financieros, S.A. de C.V., usted no cumplió con cualquiera de estos términos de uso. En la rescisión, usted debe cesar el uso total de este sitio Web y destruir todos y cada uno de los materiales copiados directa o indirectamente de este sitio Web.
            </p>

            <p class="">
                Estos términos de uso son regulados por las leyes de México. Si alguna disposición de lo anterior es determinada ilegal, nula o por cualquier razón inaplicable, entonces esa disposición será juzgada severamente y no afectará la validez y aplicabilidad de las provisiones restantes.
            </p>

            <h4 class=" pb-4 fw-bolder" >
                Cookies
            </h4>


             <p class="">
                Durante la visita a nuestro sitio en su computadora se guardan piezas de código llamadas Cookies. Éstas son usadas para asegurar la operación óptima de su visita a nuestra página web y permitir un acceso más rápido y fácil a la información. Las Cookies no son usadas para procesar información personal y su contenido no permite la identificación del usuario. Las Cookies son usadas en muchos sitios web (www.aboutcookies.org). Si deshabilitas las Cookies, algunas partes de nuestro sitio web pueden no ser accesibles. 
            </p>


            <p class="">
                Esta página usa Google Analytics, y otras herramientas de análisis que permiten analizar cómo los usuarios hacen uso de este sitio. Estas herramientas usan “Cookies”, que son archivos de texto almacenadas en su computadora para recolectar información estándar acerca del comportamiento del usuario y sus entradas a la página. Esta información es completamente anónima. Las Cookies no pueden ser usadas para obtener información desde su disco duro, su dirección de correo electrónico o información personal acerca de usted.
            </p>

            <p class="">
                La información que generan estas Cookies acerca de esta actividad (incluyendo su dirección IP) es transmitida a Google. Esta información es usada entonces para evaluar cómo hace uso del sitio web el usuario y para realizar reportes estadísticos de la actividad en el sitio. Yaab Inversiones y Servicios Financieros, S.A. de C.V., nunca usa las herramientas de análisis mencionadas anteriormente (ni permitirá a terceras personas) para rastrear o recabar información personal de los visitantes del sitio.
            </p>

            <p class="">
                Google no conectará su dirección IP con otra información que tenga. Ni Financiera Yaab, ni Google conectarán ni intentarán conectarse a la dirección IP de la información del usuario de su computadora. No combinaremos la información recolectada en este sitio con ninguna información personal identificable de otras fuentes, dado que esta información no está específicamente dada por el propietario.
            </p>

            <p class="">
                Usted puede cambiar la configuración de su navegador de Internet para ser notificado cuando reciba una Cookie, o para bloquear el envío de Cookies. Esté enterado de que el bloqueo de Cookies lo priva de algunas de las funciones que le ofrecemos al visitar nuestro sitio web. 
            </p>

            <p class="">
                Nuestro sitio web también usa los servicios ClickTale usado para analizar el tráfico de visitas al sitio. ClickTale puede memorizar los clicks al ratón, movimiento del ratón en la página y la forma en que se recorren las mismas, también el texto que escriba en la página. ClickTale no recolecta información personal que de manera no voluntaria usted haya puesto en el sitio, la búsqueda no rastrea su contenido en sitios diferentes que no usen los servicios de ClickTale. Si usted desea bloquear ClickTale, puede hacerlo en este link http://www.clicktale.net/disable.html
            </p>

            
            

            


            
        </div>
    </div>
    
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
</body>
</html>