{% extends "dashboard/index.html" %}
<!---->
{% load static %}
{% load humanize %}

{% block extra_css %}



<!-- third party css -->
<link
  href="{% static 'libs/datatables.net-bs5/css/dataTables.bootstrap5.min.css' %}"
  rel="stylesheet"
  type="text/css"
/>
<link
  href="{% static 'libs/datatables.net-responsive-bs5/css/responsive.bootstrap5.min.css' %}"
  rel="stylesheet"
  type="text/css"
/>
<link
  href="{% static 'libs/datatables.net-buttons-bs5/css/buttons.bootstrap5.min.css' %}"
  rel="stylesheet"
  type="text/css"
/>
<link
  href="{% static 'libs/datatables.net-select-bs5/css/select.bootstrap5.min.css' %}"
  rel="stylesheet"
  type="text/css"
/>




<!-- third party css end -->

{% endblock extra_css %}

{% block topbar %}
<!---->
<!---->
{% include "partials/topbar.html" with pagetitle="Grupos | Roles " %}
<!---->
{% endblock topbar %}


{% block content %}

<style>
  .hover-boton{

  }
  .hover-boton:hover{
    color: #E1B64E;
  }
</style>


    
<h4>Lista de Roles:</h4>

<table id="responsive-datatable" class="table dt-responsive nowrap table-hover">
  <thead>
    <tr>
      <th>Nombre</th>
      <th>Acciones</th>
      
    </tr>
  </thead>
  <tbody>

    
    
   
    
    {% for content_type in content_types %}
    <tr>
    
        <form action="{{ content_type.url }}" method="get">
            {% comment %} <div class="row">
                <div class="col-6"> {% endcomment %}
                  <td> 
                    <button type="submit" class="btn btn-sm hover-boton">{{ content_type.model }}</button>
                  </td>
                    
                {% comment %} </div> {% endcomment %}
                {% comment %} <div class="col-6"> {% endcomment %}
                  <td>
                    <div class="dropdown">
                      <a
                        class="dropdown-toggle"
                        type="button"
                        id="dropdownMenuButton"
                        data-bs-toggle="dropdown"
                        aria-haspopup="true"
                        aria-expanded="false"
                      >
                      <i class="mdi mdi-playlist-plus" style="color: black; font-size:18px;"></i>
                      </a>
                      <div
                        class="dropdown-menu"
                        aria-labelledby="dropdownMenuButton"
                      >
                      <a href="{{ content_type.edit_url }}" class="btn btn-sm hover-boton">Editar</a>
                      <a href="{% url 'user_app:assign_permissions' %}" class="btn btn-sm hover-boton">Permiso Individual</a> 
                      <a href="{% url 'user_app:assign_group' %}" class="btn btn-sm hover-boton">Grupos</a> 
                      </div>
                    </div>


                  </td>
                {% comment %} </div>
            </div> {% endcomment %}
        </form>
      
        
        
        
        </tr>
      {% endfor %}
    
  </tbody>
</table>





{% endblock content %}

{% block extra_js %}
    <script src="{% static 'libs/datatables.net/js/jquery.dataTables.min.js' %}"></script>
    <script src="{% static 'libs/datatables.net-bs5/js/dataTables.bootstrap5.min.js' %}"></script>
    <script src="{% static 'libs/datatables.net-responsive/js/dataTables.responsive.min.js' %}"></script>
    <script src="{% static 'libs/datatables.net-responsive-bs5/js/responsive.bootstrap5.min.js' %}"></script>
    <script src="{% static 'libs/datatables.net-buttons/js/dataTables.buttons.min.js' %}"></script>
    <script src="{% static 'libs/datatables.net-buttons-bs5/js/buttons.bootstrap5.min.js' %}"></script>
    <script src="{% static 'libs/datatables.net-buttons/js/buttons.html5.min.js' %}"></script>
    <script src="{% static 'libs/datatables.net-buttons/js/buttons.flash.min.js' %}"></script>
    <script src="{% static 'libs/datatables.net-buttons/js/buttons.print.min.js' %}"></script>
    <script src="{% static 'libs/datatables.net-keytable/js/dataTables.keyTable.min.js' %}"></script>
    <script src="{% static 'libs/datatables.net-select/js/dataTables.select.min.js' %}"></script>
    <script src="{% static 'libs/pdfmake/build/pdfmake.min.js' %}"></script>
    <script src="{% static 'libs/pdfmake/build/vfs_fonts.js' %}"></script>
    <!-- third party js ends -->

    <!-- Datatables init -->
    <script src="{% static 'js/pages/datatables.init.js' %}"></script>

{% endblock extra_js %}